extends ../layout.pug
block variables
	- mainPage = false;
	- profilePage = false;
	- listVerbs = false;
	- resultPage = true;
block appContent
	div(class="wrapper__exercises-result")
		table(class="scoreboard" id="resultTable" data-language="resultTable")
			caption 
				span(data-language="resultTable") #{lang.resultPage.resultTable.captionHeader.header} 
				span(class="scoreboard__exercise-number") №
			thead(class="scoreboard__thead")
				tr
					th(data-language="resultTable") #{lang.resultPage.resultTable.theadHeader.player}
					th(data-language="resultTable") #{lang.resultPage.resultTable.theadHeader.passedPages}
					th(data-language="resultTable") #{lang.resultPage.resultTable.theadHeader.timeLeft}
			tbody(class="scoreboard__tbody")
				tr
					td(class="scoreboard__player") #{userLoginSession}
					td(class="scoreboard__passed-pages") 1
					td(class="scoreboard__time") 0:00
				tr
					td(colspan="2" class="scoreboard__correct" data-language="resultTable") #{lang.resultPage.resultTable.variantsOne.correct}
					td(class="scoreboard__total-header" data-language="resultTable") #{lang.resultPage.resultTable.variantsOne.total}
				tr
					td(colspan="2" class="scoreboard__correct-choosen") 0
					td
				tr
					td(colspan="2" class="scoreboard__incorrect" data-language="resultTable") #{lang.resultPage.resultTable.variantsTwo.incorrect}
					td(class="scoreboard__total") 0
				tr
					td(colspan="2" class="scoreboard__incorrect-choosen") 0
					td
			tfoot(class="scoreboard__tfoot")
				tr
					td(colspan="2" class="scoreboard__general-text") 
						span(data-language="resultTable") #{lang.resultPage.resultTable.progressSuccess.text} 
						span(class="scoreboard__exercise-number") № : 
					td(class="scoreboard__general-percentage")
						span(class="scoreboard__success-result") 0
						span(class="scoreboard__sign") %
		div(class="return-navigation")
			a(href="#" class="btn btn-warning return-navigation__button") Перейти на страницу профиля
		div(id="hiddenHash" hidden) #{hash}