div(id="basePanelText" data-language="basePanelText")
	p(data-language="basePanelText") #{lang.settingsPanel.basePanelText[0]}
	p(data-language="basePanelText") #{lang.settingsPanel.basePanelText[1]}
div(id="basePanel" data-language="basePanel" class="settings__base__slidePanel")
	div(class="settings__base_language")
		div(data-language="basePanel" class="settings__base_language_header") #{lang.settingsPanel.basePanel.language.header}
		div(class="settings__base_language_control") 
			label(data-language="basePanel" for="rus") #{lang.settingsPanel.basePanel.language.languageLabel[0]}
				input(type="radio" id="rus" value="rus" name="language" checked="checked")
			br
			label(data-language="basePanel" for="ukr") #{lang.settingsPanel.basePanel.language.languageLabel[1]}
				input(type="radio" id="ukr" value="ukr" name="language")
	div(class="settings__base_music")
		div(data-language="basePanel" class="settings__base_music_header") #{lang.settingsPanel.basePanel.music.header}
		div(class="settings__base_music_control")
			label(data-language="basePanel" for="onMusic") #{lang.settingsPanel.basePanel.music.musicState[0]}
				input(type="radio" id="onMusic" value="turnOn" name="music" checked="checked")
			br
			label(data-language="basePanel" for="offMusic") #{lang.settingsPanel.basePanel.music.musicState[1]}
				input(type="radio" id="offMusic" value="turnOff" name="music")
		div(id="bgMusic")
			audio
				source(src="../../public/sounds/mainPage/WeWillRockYou.mp3" type="audio/mpeg")
	div(class="settings__base_userPage")
		h3(data-language="basePanel") #{lang.settingsPanel.basePanel.user.header} 
			span(class="settings__base_userPage__userName") #{userLoginSession}
		if userLoginSession
			p(class="settings__base_userPage_profile settings__base_userPage_profileShow") 
				a(data-language="basePanel" id="userSettingsPage" href="http://localhost:3000/profile") #{lang.settingsPanel.basePanel.user.button}
		else
			p(class="settings__base_userPage_profile settings__base_userPage_profileHide") 
				a(data-language="basePanel" id="userSettingsPage" href="/profile") #{lang.settingsPanel.basePanel.user.button}