extends ../layout.pug
block variables
	- mainPage = false;
	- profilePage = false;
	- listVerbs = true;
block appContent
	div(class="wrapper__list-verbs")
		div(data-language="toListVerbs" id="toListVerbs")
			a(href="/profile" data-language="toListVerbs") Вернуться к профилю
		div(data-language="bothListHeaders" id="bothListHeaders" class="wrapper__list-verbs__choose-list")
				p
					span #{verbs.length}
					span(data-language="bothListHeaders") #{lang.verbsListTop.bothListHeaders.fullListHeader}
					button(data-language="bothListHeaders" id="toFullListVerbs") #{lang.verbsListTop.bothListHeaders.fullListButton} 
				p
					span(data-language="bothListHeaders") #{lang.verbsListTop.bothListHeaders.portionListHeader}
					button(data-language="bothListHeaders" id="toPortionListVerbs") #{lang.verbsListTop.bothListHeaders.portionListButton}
		div(class="wrapper__list-verbs__all-verbs")
			section(class="wrapper__list-verbs__all-verbs__full-list wrapper__list-verbs__all-verbs__full-list-positive")
				div(data-language="fullListTableHeader" id="fullListTableHeader" class="wrapper__list-verbs__all-verbs__full-list__header")
					span(class="wrapper__list-verbs__all-verbs__full-list__header__num") №
					span(data-language="fullListTableHeader" class="wrapper__list-verbs__all-verbs__full-list__header__v-1") #{lang.verbsListTop.fullListTableHeader[0]}
					span(data-language="fullListTableHeader" class="wrapper__list-verbs__all-verbs__full-list__header__v-2") #{lang.verbsListTop.fullListTableHeader[1]}
					span(data-language="fullListTableHeader" class="wrapper__list-verbs__all-verbs__full-list__header__v-3") #{lang.verbsListTop.fullListTableHeader[2]}
				div(data-language="verbsList" id="verbsList" class="wrapper__list-verbs__all-verbs__full-list__rows")
					each val,ind in verbs
						div(class="wrapper__list-verbs__all-verbs__full-list__rows__row")
							div(class="full-list__rows__row__ind") #{ind+1}
							div(class="full-list__rows__row__ing")
								span #{val.eng[0]}
								span #{val.eng[1]}
								span #{val.eng[2]}
							div(class="full-list__rows__row__translate")
								span(data-language="verbsList") #{val.rus[0]}
								span(data-language="verbsList") #{val.rus[1]}
								span(data-language="verbsList") #{val.rus[2]}
			section(class="wrapper__list-verbs__all-verbs__portion-list wrapper__list-verbs__all-verbs__portion-list-positive")
				div(data-language="portionListTableHeader" id="portionListTableHeader" class="wrapper__list-verbs__all-verbs__portion-list__header")
					span(class="wrapper__list-verbs__all-verbs__portion-list__header__num") №
					span(data-language="portionListTableHeader" class="wrapper__list-verbs__all-verbs__portion-list__header__v-1") #{lang.verbsListTop.portionListTableHeader[0]}
					span(data-language="portionListTableHeader" class="wrapper__list-verbs__all-verbs__portion-list__header__v-2") #{lang.verbsListTop.portionListTableHeader[1]}
					span(data-language="portionListTableHeader" class="wrapper__list-verbs__all-verbs__portion-list__header__v-3") #{lang.verbsListTop.portionListTableHeader[2]}
				div(id="verbsListPortion" data-language="verbsListPortion" class="wrapper__list-verbs__all-verbs__portion-list__pages")
					//
						div(class="wrapper__list-verbs__all-verbs__portion-list__row")
							span 1
							span Do
							span Did
							span Done
							span Translation Rus/Ukr
						div(class="wrapper__list-verbs__all-verbs__portion-list__row")
							span 2
							span Do
							span Did
							span Done
							span Translation Rus/Ukr
				div(id="control")
					div(id="hundreds")
						button(id="minesHun") -100
						div(class="space")
						button(id="plusHun") +100
					div(id="trifle")
						button(id="minesTrifle")
						div(class="space")
						button(id="plusTrifle")