section(class="wrapper__profile__content_method-three wrapper__profile__move-back-content")
	div(class="page-information" id="pageInfo-3")
		div(data-language="pageInfo-3") Упражнение
			span(id="pageExercise-3") 3
		div(data-language="pageInfo-3") Страница
			span(id="pageNumber-3") 1
	div(class="list-container" id="listC-3")
		mixin list_item3(dateT,successRes,failureRes,totalAns,gameT,successPer)
			div(class="list-container__list-item")
				div(class="list-container__row")
					div(class="list-container__cell")
						div Дата прохождения:
						div #{dateT}
					div(class="list-container__cell")
						div Правильные варианты:
						div #{successRes}
					div(class="list-container__cell")
						div Неправильные варианты:
						div #{failureRes}
					div(class="list-container__cell")
						div Всего вариантов:
						div #{totalAns}
				div(class="list-container__row")
					div(class="list-container__cell")
					div(class="list-container__cell")
						div Остаток игрового времени:
						div #{gameT}
					div(class="list-container__cell") 
						div Процент успешности:
						div #{successPer}
					div(class="list-container__cell")
						a(href="/profile/method3-mistaken-results") Просмотреть не угаданные
		+list_item3("00:00",0,0,0,"00:00","0%")
		+list_item3("00:00",0,0,0,"00:00","0%")
		+list_item3("00:00",0,0,0,"00:00","0%")
		+list_item3("00:00",0,0,0,"00:00","0%")
		+list_item3("00:00",0,0,0,"00:00","0%")
	div(class="list-pagination" id="listP-3")
		div(class="list-pagination__go list-pagination__go-left")
			button(id="arrowLeft-3") ARR L
		div(class="list-pagination__go list-pagination__go-right")
			button(id="arrowRight-3")  ARR R
		nav(class="list-pagination__nav")
			ul(class="pagination pagination-3")