section(class="wrapper__profile__content_settings wrapper__profile__move-default-content")
	form(id="profileUserData" data-language="profileUserData" method="post" action="/" name="resaveUserData")
		fieldset
			legend #{userLoginSession}
			span(data-language="profileUserData") #{lang.profile.profileUserData.settingsHeader} 
			p
				span(data-language="profileUserData") #{lang.profile.profileUserData.changeLog}
				label(for="login" class="wrapper__profile__content_settings-log")
					input(type="text" value=uLogin name="login" id="login" placeholder=uLogin required="required")
			p
				span(data-language="profileUserData") #{lang.profile.profileUserData.changePass}
				label(for="password" class="wrapper__profile__content_settings-pass")
					input(type="text" value=uPassword name="password" id="password" placeholder=uPassword required="required")
			p(class=!uEmail ? "wrapper__profile__content_settings-notify-hide" : "wrapper__profile__content_settings-notify")
				span(data-language="profileUserData") #{lang.profile.profileUserData.sendEmail}
				label(for="emailNotify" class="wrapper__profile__content_settings-email")
					input(type="email" value=uEmail name="emailN" id="emailNotify" placeholder=uEmail required="required")
			p(class=!uEmail ? "wrapper__profile__content_settings-warning" : "wrapper__profile__content_settings-warning-hide")
				span(data-language="profileUserData") #{lang.profile.profileUserData.saveEmail}
				label(for="emailWarn" class="wrapper__profile__content_settings-email")
					input(type="email" value="" name="emailW" id="emailWarn")
			p
				span(data-language="profileUserData") #{lang.profile.profileUserData.submitHeader}
				br
				input(type="submit" data-language="profileUserData" value=lang.profile.profileUserData.submitButton name="subResaveData" id="userSubmit")
	div(id="profileUserVerbList" data-language="profileUserVerbList" class="wrapper__profile__content_settings__listVerbs alert alert-light" role="alert")
		div(class="wrapper__profile__content_settings__listVerbs__lastVisit alert alert-secondary")
			p(data-language="profileUserVerbList") #{lang.profile.profileUserVerbList.lastVisitText}
			div #{absentTime}
		div(class="wrapper__profile__content_settings__listVerbs__verbButtons alert alert-secondary")
			h1(data-language="profileUserVerbList") #{lang.profile.profileUserVerbList.verbListText}
			a(href="/listVerbs" class="btn btn-primary" data-language="profileUserVerbList") #{lang.profile.profileUserVerbList.goToListText}
	div(class="link__delete-method" data-language="methodDelete4" id="methodDelete4")
		button(class="link__delete-method__button" data-language="methodDelete4") Удалить все данные пользователя
		div(class="link__delete-method__links")
			a(href="/profile/method4-delete" data-language="methodDelete4" id="methodDelete4-Yes") Да
			a(href="/profile/method4-delete" data-language="methodDelete4" id="methodDelete4-No") Нет