extends ../layout.pug
block variables
	- mainPage = false;
	- profilePage = true;
block appContent
	div(class="wrapper__profile")
		section(class="wrapper__profile__leftColumn")
			div(class="wrapper__profile__leftColumn__subSlidingMenu")
			table(id="profileLeftColumn" data-language="profileLeftColumn")
				thead
					tr
						th(data-language="profileLeftColumn") #{lang.profile.profileLeftColumn[0]}
				tbody
					tr
						td
							include t-shirtSVG
				tfoot
					tr
						td
							button(data-language="profileLeftColumn" class="wrapper__profile__leftColumn__start") #{lang.profile.profileLeftColumn[1]}
		section(class="wrapper__profile__menu")
			nav(class="wrapper__profile__menu__nav")
				ul(id="profileMenu" data-language="profileMenu")
					li
						a(href="#" data-language="profileMenu" class="a-profile__menu__settings_active") #{lang.profile.profileMenu[0]}
					li
						a(href="#" data-language="profileMenu") #{lang.profile.profileMenu[1]}
					li
						a(href="#" data-language="profileMenu") #{lang.profile.profileMenu[2]}
					li
						a(href="#" data-language="profileMenu") #{lang.profile.profileMenu[3]}
		section(class="wrapper__profile__content")
			include profile-settings
			include method-one
			include method-two
			include method-three