extends ../layout.pug
block variables
	- mainPage = false;
	- profilePage = true;
block appContent
	div(class="wrapper__profile")
		div(id="profileSmokeBlock" data-language="profileSmokeBlock" class="wrapper__profile__smokeBlock_hide")
			div(class="wrapper__profile__smokeBlock__child")
				p(data-language="profileSmokeBlock") #{lang.profile.profileSmokeBlock.headerWarning}
				div
					button(id="refuseDataToSave" data-language="profileSmokeBlock") #{lang.profile.profileSmokeBlock.buttonRefuse}
					button(id="acceptDataToSave" data-language="profileSmokeBlock") #{lang.profile.profileSmokeBlock.buttonAccept}
			div(class="wrapper__profile__smokeBlock__child-info")
				p(data-language="profileSmokeBlock") #{lang.profile.profileSmokeBlock.messageWrong}
				p(data-language="profileSmokeBlock") #{lang.profile.profileSmokeBlock.messageCorrect}
			div(class="wrapper__profile__smokeBlock__loader")
		section(class="wrapper__profile__leftColumn")
			div(class="wrapper__profile__leftColumn__subSlidingMenu")
				div(id="hiddenHash" hidden) #{userHashSession}
			table(id="profileLeftColumn" data-language="profileLeftColumn")
				thead
					tr
						th(data-language="profileLeftColumn") #{lang.profile.profileLeftColumn[0]}
				tbody
					tr
						td
							include t-shirtSVG.pug
				tfoot
					tr
						td
							a(data-language="profileLeftColumn" href="/exercises" class="wrapper__profile__leftColumn__start") #{lang.profile.profileLeftColumn[1]}
		section(class="wrapper__profile__menu")
			nav(class="wrapper__profile__menu__nav")
				ul(id="profileMenu" data-language="profileMenu")
					li
						a(href="#" data-language="profileMenu" class="a-profile__menu__settings_active") #{lang.profile.profileMenu[0]}
					li(data-orderExercise="1")
						a(href="#" data-language="profileMenu") #{lang.profile.profileMenu[1]}
					li(data-orderExercise="2")
						a(href="#" data-language="profileMenu") #{lang.profile.profileMenu[2]}
					li(data-orderExercise="3")
						a(href="#" data-language="profileMenu") #{lang.profile.profileMenu[3]}
		section(class="wrapper__profile__content")
			include profile-settings
			include method-one
			include method-two
			include method-three
			include failed-results