extends ../layout.pug
block variables
	- mainPage = false;
	- profilePage = false;
	- listVerbs = false;
block appContent
	div(class="wrapper__exercises")
		div(data-language="toProfileExercises" id="toProfileExercises")
			a(href="/profile" data-language="toProfileExercises") #{lang.exerciseButtonToProfile.toProfileExercises.buttonTitle}
		div(data-language="exerciseItems" id="exerciseItems" class="wrapper__exercises__main")
			div(class="card wrapper__exercises__main__exercise-1")
				h5(data-language="exerciseItems" class="card-header") #{lang.exercises.exerciseItems.exercise1[0]}
				div(class="card-body")
					h5(data-language="exerciseItems" class="card-title") #{lang.exercises.exerciseItems.exercise1[1]}
					p(data-language="exerciseItems" class="card-text") #{lang.exercises.exerciseItems.exercise1[2]}
					a(data-language="exerciseItems" href="/method1?currentPageAmount=1" class="btn btn-primary") #{lang.exercises.exerciseItems.exercise1[3]}
			div(class="card wrapper__exercises__main__exercise-2")
				h5(data-language="exerciseItems" class="card-header") #{lang.exercises.exerciseItems.exercise2[0]}
				div(class="card-body")
					h5(data-language="exerciseItems" class="card-title") #{lang.exercises.exerciseItems.exercise2[1]} 
					p(data-language="exerciseItems" class="card-text") #{lang.exercises.exerciseItems.exercise2[2]}
					a(data-language="exerciseItems" href="/method2?currentPageAmount=1" class="btn btn-primary") #{lang.exercises.exerciseItems.exercise2[3]}
			div(class="card wrapper__exercises__main__exercise-3")
				h5(data-language="exerciseItems" class="card-header") #{lang.exercises.exerciseItems.exercise3[0]}
				div(class="card-body")
					h5(data-language="exerciseItems" class="card-title") #{lang.exercises.exerciseItems.exercise3[1]}
					p(data-language="exerciseItems" class="card-text") #{lang.exercises.exerciseItems.exercise3[2]}
					a(data-language="exerciseItems" href="/method3?currentPageAmount=1" class="btn btn-primary") #{lang.exercises.exerciseItems.exercise3[3]}