div(class="auth")
		div(id="auth" data-language="auth" class="auth__content")
			p(data-language="auth") #{lang.mainpage.auth.formTitle}
			form(action="/" method="POST")
				div(class="form-group")
					label(data-language="auth" for="log")
						| #{lang.mainpage.auth.firstControl.labelTitle}
						br
						input(data-language="auth" type="text" name="login" value=lang.mainpage.auth.firstControl.inputValue id="log" class="form-control")
				div(class="form-group")
					label(data-language="auth" for="pas")
						| #{lang.mainpage.auth.secondControl.labelTitle}
						br
						input(data-language="auth" type="password" name="pass" placeholder=lang.mainpage.auth.secondControl.placeHolder id="pas" class="form-control")
				div(class="form-group")
					input(data-language="auth" type="submit" name="sub" value=lang.mainpage.auth.submit class="btn btn-primary")
					div(class="forgottenPass")
						label(data-language="auth" for="forgotten")
							| #{lang.mainpage.auth.forgetPassLabel}&nbsp;
							input(type="checkbox" name="forgottenPass" value="forgotten" id="forgotten")