div(class="auth")
		div(class="auth__content")
			p #{lang.mainpage.auth.formTitle}
			form(action="/" method="POST")
				div(class="form-group")
					label(for="log")
						| #{lang.mainpage.auth.firstControl.labelTitle}
						br
						input(type="text" name="login" value=lang.mainpage.auth.firstControl.inputValue id="log" class="form-control")
				div(class="form-group")
					label(for="pas")
						| #{lang.mainpage.auth.secondControl.labelTitle}
						br
						input(type="password" name="pass" placeholder=lang.mainpage.auth.secondControl.placeHolder id="pas" class="form-control")
				div(class="form-group")
					input(type="submit" name="sub" value=lang.mainpage.auth.submit class="btn btn-primary")
					div(class="forgottenPass")
						label(for="forgotten")
							| #{lang.mainpage.auth.forgetPassLabel}&nbsp;
							input(type="checkbox" name="forgottenPass" value="forgotten" id="forgotten")