extends ../layout.pug
block variables
	-mainPage=false;
	-profilePage=false;
	-listVerbs=false;
	-methods=false;
	-method1=false;
	-method2=false;
	-method3=false;
	-resultPage=false;
block appContent
	div(class="wrapper__authors")
		<h1>Authors</h1>